## Exercises

The local zoo is considering investing in a new pavilion dedicated to Pokemons. 
But the zoo's director, Mr. Felix, is not sure if this investment would pay off and what it would all mean for the zoo. Someone advised him to invite you to help (we are not to blame, we swear - authors of the course). The director has compiled a list of questions he would like to know the answer to.

0. (reload data from `pokemon.csv` file)
1. For how many new animals would the zoo need food? The director would like one male and one female of each species (name).
2. The marketing department is going to create new leaflets about Pokemons for zoo visitors. All Pokemons would need information about their height, weight, length, color and type. Is all the information available?
3. The zoo considers it ideal for Pokemon to be delivered gradually, in groups of eight, as listed in the `pokemon.csv` table. Which Pokemon would be in the first, second, and last group?
4. The operation of the zoo also drew attention to the special conditions necessary for the 3 highest Pokemons. In the table `pokemon.csv` they are in positions 207, 320 and 796, but no one remembers which Pokemons it was. What are their names?
5. The director loves Onix. He would like to build a special enclosure for him - for the Rock Pokemons at speeds above 50. Would Onix like it there?
6. The Director would also like to create a section for all Pokemons starting with "i". But dark Pokemon cannot be with normal, fiery with water or grass, and electric with psychic. Will it be possible to create this section? (tip: to display all Pokemons on "i" you will need to have the index sorted alphabetically)

In [2]:
import pandas as pd # We will access pandas using the alias pd

In [3]:
pokemon_table = pd.read_csv("pokemon.csv")

In [4]:
pokemon_table.head()

,id,name,height,weight,color,shape,is baby,type 1,type 2,hp,attack,defense,speed
0,1,bulbasaur,0.7,6.9,green,quadruped,False,Grass,Poison,45,49,49,45
1,2,ivysaur,1.0,13.0,green,quadruped,False,Grass,Poison,60,62,63,60
2,3,venusaur,2.0,100.0,green,quadruped,False,Grass,Poison,80,82,83,80
3,4,charmander,0.6,8.5,red,upright,False,Fire,NaN,39,52,43,65
4,5,charmeleon,1.1,19.0,red,upright,False,Fire,NaN,58,64,58,80

In [39]:
pokemons.

name
abomasnow    2.2
abra         0.9
absol        1.2
accelgor     0.8
aegislash    1.7
            ...
zoroark      1.6
zorua        0.7
zubat        0.8
zweilous     1.4
zygarde      5.0
Name: height, Length: 807, dtype: float64